# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data & Datasets (Avoid uploading large files to GitHub)
data/
*.csv
*.tab
*.tsv
*.xlsx
*.pkl
*.joblib

# Generated Outputs
snippets/images/
ml_snippets/aqueous_solubility_eda/
*.png
!documents/images/*.png
*.svg
*.html

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
